<div *ngIf="selectedFeed" class="commentsSection">
    <div class="selfCommentSection">
        <p-card title="" subtitle="{{selectedFeed.data.title}}" styleClass="ui-card-shadow">
            <p-header>
                <!--img src="Card" src="{{selectedFeed.data.thumbnail}}"-->
                <img *ngIf="selectedFeed.data.thumbnail != 'self' && selectedFeed.data.thumbnail != 'default'" src="{{selectedFeed.data.thumbnail}}">
                <img class="defaultImage" *ngIf="selectedFeed.data.thumbnail == 'self' || selectedFeed.data.thumbnail == 'default'"
                    src="./../../../assets/default.png">
            </p-header>
            <div class="ui-g-4">Author: </div>
            <div class="ui-g-8">{{selectedFeed.data.author}}</div>
            <i *ngIf="!allowSelfEdit" class="fas fa fa-edit" (click)=allowEditing()></i>
            <i *ngIf="allowSelfEdit" class="fas fa fa-check" (click)=disableEditing()></i>
            <p-panel header="Self Text" *ngIf="selectedFeed.data.selftext" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                <p *ngIf="allowSelfEdit" contenteditable="true"> {{selectedFeed.data.selftext }} </p>
                <p *ngIf="!allowSelfEdit" contenteditable="false" contenteditable="allowSelfEdit">
                    {{selectedFeed.data.selftext }} </p>
            </p-panel>
            <p contenteditable="true" *ngIf="!selectedFeed.data.selftext && allowSelfEdit">
                <p contenteditable="false" *ngIf="!selectedFeed.data.selftext && !allowSelfEdit">

                    <br> No self comment found!! </p>

        </p-card>
    </div>
    <div class="loading" *ngIf="loadingComments">
        Loading.......
        <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div *ngIf="noComments">
        No Comments
    </div>

    <div *ngIf="comments" class="othersCommentSection">
        <h3> Conversation ({{comments.length}})</h3>
        <p-dataView #dv [value]="comments">

            <ng-template let-comment pTemplate="listItem">
                <div class="commentsListSection ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9" style="cursor:pointer">
                    <app-comment-details [comment]="comment"> </app-comment-details>
                    <div *ngIf="comment.data.replies && comment.data.replies.data.children && comment.data.replies.data.children.length > 0"
                        class="replytDetails">
                        <app-tree [parentId]="comment.data.replies.data.parent_id" [dataList]="comment.data.replies.data.children"></app-tree>

                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>