<div class = "paginationArea">
    <div class = "paginatorButtons">
            <p-button icon="pi pi-caret-left" label="Prev" (click) = "loadPrev()"></p-button>
            <p-button icon="pi pi-caret-right" label="Next" (click) = "loadNext()"></p-button>
    </div>
    <p-dropdown [options]="pageNumbers" (onChange) = "onRowUpdate($event)" [(ngModel)]="selectedNumber" optionLabel="name" [showClear]="false"></p-dropdown>
</div>
<div class="contentsArea">
    <p-sidebar *ngIf="selectedFeed" styleClass="ui-sidebar-lg" position="bottom" [(visible)]="SidebarDisplay" (onHide)="selectedFeed = false">
        <app-comments [selectedFeed]="selectedFeed" [commentsLink]="selectedFeed.data.permalink"> </app-comments>
    </p-sidebar>
    <!--p-paginator [rows]="10" totalRecords= {{ifeedsFull.length}} [rowsPerPageOptions]="[5,10,25]" (onPageChange)="paginate($event)"></p-paginator-->
    <!--p-dataView #dv [value]="ifeeds" [paginator]="true" [rows]="10"  [rowsPerPageOptions]="[5,10,25]" paginatorPosition="top"-->
    
    
    
    <p-dataView #dv [value]="ifeeds">
        <ng-template let-feed pTemplate="listItem">
            <div class="ui-g feedList" (click)="updateSelectedFeed(feed); SidebarDisplay = true">
                <div class="ui-g-12 ui-md-3" style="text-align:center">
                    <img *ngIf = "feed.data.thumbnail != 'self' && feed.data.thumbnail != 'default'" 
                    src="{{feed.data.thumbnail}}">
                    <img class = "defaultImage" *ngIf = "feed.data.thumbnail == 'self' || feed.data.thumbnail == 'default'" 
                    src="./../../../assets/default.png">
                </div>
                <div class="ui-g-12 ui-md-8 feed-details">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">title: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{feed.data.title}}</b></div>

                        <div class="ui-g-2 ui-sm-6">author: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{feed.data.author}}</b></div>

                        <div class="ui-g-2 ui-sm-6">No.Comments: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{feed.data.num_comments}}</b></div>

                        <div class="ui-g-2 ui-sm-6">created: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{getDateTime(feed.data.created) }}</b></div>
                        <div class="ui-g-2 ui-sm-6">score: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{feed.data.score}}</b></div>
                        <div class="ui-g-2 ui-sm-6"> permalink: </div>
                        <a href="#"> {{feed.data.permalink}} </a>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>